[mysqld]
# 文字コード
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# 外部からの接続はcompose側で管理
bind-address = 0.0.0.0

# ログ
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 1

# バッファ・パフォーマンス
innodb_buffer_pool_size = 512M
table_open_cache = 2000

# 再起動に強くする
skip-host-cache
skip-name-resolve
